[[]trash
# /html/tmp

/nextcloud_server/server/dist/apps_*
/nextcloud_server/server/dist/node_modules*
/nextcloud_server/server/dist/data_image*
/nextcloud_server/server/dist/core_src*
/nextcloud_server/server/.sync_to_nextcloud_files.lock

# /files
# !/files/.gitkeep
# !/files/README.md
# !/files/database/.gitkeep
# !/files/database/README.md
# !/files/database/demo/**/*.pdf
/files/*
!/files/database
!/files/README.md
/files/database/*
!/files/database/README.md
!/files/database/demo
!/files/.file_sync_init
